/* -----ESTILOS----- */

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --clr-orange: #FB7134;
    --clr-black: #070707;
    --clr-grey: #A6A698;
    --clr-beish: #EBEBD9;
    --font-details: "La Belle Aurore", serif;
    --font-main: "Manrope", serif;
    --buttons-corner: 3px;
}

img {
    width: 100%;
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
p,
a {
    font-family: var(--font-main);
}

a {
    text-decoration: none;
}

body {
    background-color: var(--clr-black);
}

/* -----MENU----- */

.container-fluid{
    width: 100% !important;
    }
    .navbar .container-fluid img{
        transform: scale(0.6);
        padding-right: 0;
    }
    .navbar-brand{
        padding-right: 0;
        margin: 0;
    }
    .nav-link {
        color: var(--clr-beish);
      }
      
    .sticky-top {
      position: sticky;
      top: 0;
      z-index: 998;}

/* -----LANDING----- */

#indexbody h2 {
    padding-left: 5em;

}
#indexbody h1 {
    font-weight: 700;
   
}


#indexbody p {

    font-size: 13px;
    color: var(--clr-beish)
}

  /* -----3DVIEWER----- */
  
  #landing header {
    width: 100%;
    height: 100vh; 
    position: relative;
    overflow: hidden; 
    z-index: 10;
}
#landing .header-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 24px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)}


    #landing model-viewer {
    width: 100vw;  
    height: 100vh; 
    object-fit: cover;  
    position: absolute; 
}


/* -----LISTA----- */

#landing #main{
    position: relative;
}

#landing #main ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#landing .clasificacion {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}

#landing .clasificacion::before {
    content: '';
    position: absolute;
    width: 90vw;
    height: 1px;
    background-color: #ffffff;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}


#landing #main ul li:last-child::after {
    bottom: 0;
    content: '';
    position: absolute;
    width: 90vw;
    height: 1px !important;
    background-color: #ffffff;
    left: 50%;
    transform: translateX(-50%);
}



#landing .titulo {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative; 
    width: 100%; 
}


#landing .titulo p {
    color: white;
    font-size: 20px;
    margin: 0;
}

#landing .detalle{
    font-family:var(--font-details);
    font-size: 30px;
    padding-right: 0.5em;
}

#landing .image {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(-10px);
}

#landing .titulo:hover .image {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#landing .image img {
    width: 10em;
    height: 3em;
    object-fit: cover;
    margin-left: 1em
}



/* 
/* -----MEDIA QUERIES LANDING----- */

@media only screen and (max-width: 1300px) {
    #landing header {
        width: 100%;
        /* height: 100vh;  */
   
        height: 90vh;
        position: relative;
        overflow: hidden; 
        z-index: 10;
    }
 
    #landing.header-content {
        position: absolute;
        top: -10vh;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        font-size: 24px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)}
        #landing model-viewer {
            width: 100vw;  
            height: 100vh; 
            object-fit: cover;  
            position: absolute; 
            transform: scale(1.2);
        }

     
 
}

@media only screen and (max-width: 900px) {
  
    #landing header {
        width: 100%;
        height: 55vh;  
        position: relative;
        overflow: hidden; 
        z-index: 10;

    }
    #landing .header-content {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        font-size: 24px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)}
        #landing model-viewer {
            width: 100vw;  
            height: 100vh; 
            object-fit: cover;  
            position: absolute; 
            transform: scale(1);
        }
        #landing .titulo p {
            color: white;
            font-size: 18px;
            margin: 0;
        }
        
        #landing .detalle{
            font-family:var(--font-details);
            font-size: 25px;
            padding-right: 0.5em;
        }

}

@media only screen and (max-width: 600px) {
      
    #landing header {
        width: 100%;
        height: 45vh; 
        position: relative;
        overflow: hidden; 
        z-index: 10;
    }
    #landing .header-content {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        font-size: 24px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)}
    #landing model-viewer {
        width: 100vw;  
        height: 100vh; 
        object-fit: cover;  
        position: absolute; 
        transform: scale(1);
    }

    #landing .titulo p {
        color: white;
        font-size: 12px;
        margin: 0;
    }
    
    #landing .detalle{
        font-family:var(--font-details);
        font-size: 20px;
        padding-right: 0.5em;
    }
} 


/* -----ABOUT----- */

.button {
    border-radius: var(--buttons-corner);
    border: 1px solid var(--clr-black);
    background-color: var(--clr-beish);
    color: var(--clr-black);
    padding: 0.2em 1.2em;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.295) 0px 2px 8px;
    font-weight: 450;
    font-size: 20px;
    text-align: center;
    font-family: var(--font-main);
}

.button:hover {
    background-color: #bebeb0;
}



#about {
    background-color: var(--clr-orange);
    display: flex;
    flex-direction: row;
}

#about #about-img {
    width: 40%;
}

#about #about-img img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about #about-txt {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about #about-parrafo a {
    color: var(--clr-beish);
}

.custom-tooltip {
    --bs-tooltip-bg: var(--clr-grey);
    --bs-tooltip-color: white;
    --bs-tooltip-opacity: 1;
  }

#about h2 {
    font-family: var(--font-details) !important;
    padding-left: 5em;
}
#about h1 {
    font-weight: 700;
    text-align: center;
    padding-top: 0.8em;
}

#about-parrafo {
    width: 60%;
    padding: 2em 0;
}

#about #about-txt p {
    text-align: center;
    font-size: 13px;
    color: black;
    padding: 5px 0;
}

@media only screen and (max-width: 1300px) {
    #about {
        padding-bottom: 3em;
    }
}

@media only screen and (max-width: 900px) {
    #about-parrafo {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    #about {
        flex-direction: column;
    }
    #about #about-img {
        width: 90%;
        left: 0;
    }
    #about #about-txt {
        width: 100%;
    }
    #about #about-txt > div {
        width: 80%;
    }
    #about h1 {
        padding-top: 1em;
        font-size: 34px;
    }
    #about h2 {
        text-align: right;
        padding-left: 0em;
    }
    #about-parrafo {
        width: 85%;
        padding: 1em 0;
    }
    #about {
        padding-bottom: 3em;
    }
} 

/* SECCION WORKS----- */

#work body {
    background-color: var(--clr-black);
    color: var(--clr-beish);
}

.textintro p {
    margin-bottom: 0;
}

.title {
    font-size: 4rem !important;
    color: var(--clr-beish);
}

  .bg-video-header {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow-x: hidden;
}

.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
    filter: brightness(0.7);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/* INTRO */

#intro {
    height: 30vh;
    display: flex;
    align-items: center;
}

.textintro {
    align-self: center;
    padding-bottom: 0 !important;
    font-size: 1.2em;
    padding-left: 5em;
    color: var(--clr-beish);
}

.title {
    padding-left: 1.5em;
}

.año {
    font-size: 14vh;
    color: var(--clr-beish);
}

/* PAINTINGS */

#paintings
p {
    font-size: 2em;
}

/* NIÑEZ */

.childhood {
    background-color: var(--clr-orange);
    padding: 2em;
    padding-left: 6em;
    padding-right: 4em;
    width: 65%;
    margin-bottom: 50vh;
}

.mayor2 {
    max-width: 50% !important;
  }


.mayor3 {
    width: 40%;
}

/* YOUTH */

.youth {
    background-color: var(--clr-beish);
    padding: 2em;
    padding-left: 4em;
    justify-content: center;
    width: 65%;
}

/* QUOTE HILMA */

    .quote {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 4em;
        color: var(--clr-beish);
    }
    .quote > p {
        font-size: 2em;
        width: 65%;
    }

    .detalleletra {
        font-family: "La Belle Aurore", serif;
        font-size: 2em;
        line-height: 0.5 !important;
    }


/* ADULTHOOD */

.adulthood {
    background-color: var(--clr-beish);
    padding: 2em;
    padding-left: 6em;
    align-items: end;
    width: 80%;
    margin-bottom: 4em;
}

/* OLD AGE */

.old {
    background-color: var(--clr-orange);
    padding: 2em;
    padding-left: 4em;
    justify-content: center;
    width: 75%;
}

  /* NOMBRE DE LAS OBRAS */

  .nombreobra {
    font-family: var(--font-details);
    font-size: 1.5em;
    padding-top: 1vh;
  }

  .negro {
    color: var(--clr-black) !important;
  }

  .gris {
    color: var(--clr-grey) !important;
  }

  .blanco {
    color: var(--clr-beish) !important;
  }

/* CARRUSEL */
.responsive {
    margin-top: 5em;
  }

 /* RESPONSIVE */

 @media screen and (max-width: 1269px) { 

    .textintro {
        font-size: 1em;
        padding-left: 5.7em;
    }

    .nombreobra {
        font-family: var(--font-details);
        font-size: 1.4em !important;
        padding-top: 1vh;
        color: var(--clr-beish);
    }

    .childhood {
    margin-bottom: 40vh;
}

}

@media screen and (max-width: 1077px) { 

    .textintro {
        font-size: 0.9em;
    }
}


@media screen and (max-width: 1022px) { 

    .quote > p {
        font-size: 1.5em !important;
        width:70%;
    }
    
    .quote {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 3em;
        
    }
    }
    

@media screen and (max-width: 991px) { 

    .textintro {
        font-size: 0.9em;
        padding: 4em;
    }

    .año {
        font-size: 10vh;
        padding-bottom: 0.5em;
    }

    .title {
        padding-left: 1em !important;
    }

    .title {
        font-size: 3rem !important ;
    }

    .childhood {
        background-color: var(--clr-orange);
        padding: 2em;
        padding-left: 6em;
        width: 75%;
        margin-bottom: 35vh;
    }
 
    .mayor1 {
        width: 70% ;
    }

    .youth {
        background-color: var(--clr-beish);
        padding: 2em;
        padding-left: 4em;
        justify-content: center;
        width: 75%;
    }


}


@media screen and (max-width: 900px) {


    .childhood {
        background-color: var(--clr-orange);
        padding: 2em;
        padding-left: 6em;
        width: 75%;
        margin-bottom: 35vh;
    }

}


@media screen and (max-width: 800px) {

    .nombreobra {
        font-family: var(--font-details);
        font-size: 1.2em !important;
        padding-top: 1vh;
    }

    .adulthood {
        padding-left: 2em;
    }

    .childhood {
        margin-bottom: 30vh;
    }

}

@media screen and (max-width: 719px){
    .quote > p {
        font-size: 1.2em !important;
        width:85%;
    }

    .mayor4 {
        width: 75%;
    }
    
}

@media screen and (max-width: 680px) { 

    .textintro {
        font-size: 0.8em;
        padding: 3em;
    }

    .año {
        font-size: 6vh;
        padding-top: 0.2em;
        padding-bottom: 0.5em !important;
    }

    .title {
        padding-left: 1em;
    }

    .title {
        font-size: 2.5rem !important ;
    }
     
    .childhood {
        margin-bottom: 25vh;
    }

    .quote > p {
        font-size: 1em !important;
        width:85%;
    }

    .mayor4 {
        width: 85%;
    }

    .mayor3 {
        width: 45%;
    }
}

@media screen and (max-width: 600px) {
    .childhood {
        background-color: var(--clr-orange);
        padding: 2em;
        width: 75%;
        margin-bottom: 25vh;
    }

    .mayor2 {
        max-width: 60% !important;
      }
    
      .mayor1 {
        width:75% !important;
    }

    .adulthood {
        width: 95% !important;
    }

    .mayor5 {
        width: 50% !important;
    }
}


@media screen and (max-width: 500px) {
    .childhood {
        margin-bottom: 25vh;
    }

}

@media screen and (max-width: 400px) {
    .childhood {
        margin-bottom: 20vh;
    }

    .mayor4 {
        width: 95%;
    }
    .mayor3 {
        width: 55%;
    }

    .youth {
        width: 80%;
    }

    .mayor2 {
        width:100% !important;
    }

    .mayor10 {
        width: 95%;
    }
    .mayor9 {
        width: 55%;
    }
    .nombreobra {
        font-family: var(--font-details);
        font-size: 1em !important;
        padding-top: 1vh;
    }

    .title {
        font-size: 2em !important ;
    }

    .quote > p {
        font-size: 2em;
        width: 100%;
    }
}


/* ------------------------------------------------------------------------ */

/* -----FOOTER----- */
footer {
    background-color: var(--clr-black);
    color: var(--clr-beish);
}

.terms p,
.nl-text p,
#sm p {
    font-size: 0.9em;
}

.terms p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nl-text p:first-child {
    font-weight: 600;
}

.nl-text {
    color: var(--clr-beish);
}

.nl-text::before {
    content: "";
    position: absolute;
    left: 0;
    height: 80%; 
    width: 1px;
    background-color: var(--clr-beish);
}

.nl {
    border: 1px solid var(--clr-beish); 
    border-radius: 4px;
    padding-right: 0.5em;
}

.form-nl {
    background-color: transparent;
    border: none;
    padding: 5px; 
    outline: none; 
    color: var(--clr-beish) !important;
}

.form-nl::placeholder {
    color: var(--clr-beish);
    opacity: 0.8;
    font-family: var(--font-body);
    font-size: 0.8em;
}

.form-nl:focus {
    background-color: transparent;
    font-family: var(--font-body);
    color: var(--clr-beish-2);
}

.iconsSM i:hover {
    cursor: pointer;
    color: var(--clr-accent) !important;
}
