* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --clr-orange: #FB7134;
    --clr-black: #070707;
    --clr-grey: #A6A698;
    --clr-beish: #EBEBD9;
    --font-details: "La Belle Aurore", serif;
    --font-main: "Manrope", serif;
    --buttons-corner: 4px;
}

img {
    width: 100%;
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
p {
    font-family: var(--font-main);
}

p {
    margin-bottom: 0;
}


body {
    background-color: var(--clr-black);
    color: var(--clr-beish);
}


.nav-link {
    color: var(--clr-beish);
  }
  
  .sticky-top {
  position: sticky;
  top: 0;
  z-index: 998;}


  .bg-video-header {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow-x: hidden;
}

.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
    filter: brightness(0.7);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

    /* HEADER */
/* header {
        display: flex;
        justify-content: flex-start;
        background-image: url(../media/img/COVER.jpg);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 50vh;
        align-items: flex-end;
        align-content: center;
} */



h1 {
    font-size: 4rem !important;
}

    /* INTRO */

#intro {
    height: 30vh;
    display: flex;
    align-items: center;
}

.textintro {
    align-self: center;
    padding-bottom: 0 !important;
    font-size: 1.2em;
    padding-left: 5em;
}

.title {
    padding-left: 1.5em;
}

.año {
    font-size: 14vh;
}


#paintings
p {
    font-size: 2em;
}




.childhood {
    background-color: var(--clr-orange);
    padding: 2em;
    padding-left: 6em;
    padding-right: 4em;
    width: 65%;
    margin-bottom: 50vh;

}


.youth {
    background-color: var(--clr-beish);
    padding: 2em;
    padding-left: 4em;
    justify-content: center;
    width: 65%;
}

/* QUOTE HILMA */

    .quote {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 4em;
        
    }
    .quote > p {
        font-size: 2em;
        width: 60%;
        
    }

    .detalleletra {
        font-family: "La Belle Aurore", serif;
        font-size: 2em;
        line-height: 0.5 !important;
    }



.adulthood {
    background-color: var(--clr-beish);
    padding: 2em;
    padding-left: 6em;
    align-items: end;
    width: 80%;
    margin-bottom: 4em;
}

.old {
    background-color: var(--clr-orange);
    padding: 2em;
    padding-right: 4em;
    justify-content: end;
    width: 65%;
}


.responsive {
    overflow: hidden;
    height: 50vh !important;
    margin-top: 5em;
  }

  .nombreobra {
    font-family: var(--font-details);
    font-size: 1.5em;
    padding-top: 1vh;
  }

  .negro {
    color: var(--clr-black);
  }


/* -----FOOTER----- */
footer {
    background-color: var(--clr-black);
    color: var(--clr-beish);
}

.terms p,
.nl-text p,
#sm p {
    font-size: 0.9em;
}

.terms p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nl-text p:first-child {
    font-weight: 600;
}

.nl-text {
    color: var(--clr-beish);
}

.nl-text::before {
    content: "";
    position: absolute;
    left: 0;
    height: 80%; 
    width: 1px;
    background-color: var(--clr-beish);
}

.nl {
    border: 1px solid var(--clr-beish); 
    border-radius: 4px;
    padding-right: 0.5em;
}

.form-nl {
    background-color: transparent;
    border: none;
    padding: 5px; 
    outline: none; 
    color: var(--clr-beish) !important;
}

.form-nl::placeholder {
    color: var(--clr-beish);
    opacity: 0.8;
    font-family: var(--font-body);
    font-size: 0.8em;
}

.form-nl:focus {
    background-color: transparent;
    font-family: var(--font-body);
    color: var(--clr-beish-2);
}

.iconsSM i:hover {
    cursor: pointer;
    color: var(--clr-accent) !important;
}





  /* RESPONSIVE */

@media screen and (max-width: 780px) { 

    .welcome {
        font-size: 60pt;
    }

}