* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --clr-orange: #FB7134;
    --clr-black: #070707;
    --clr-grey: #A6A698;
    --clr-beish: #EBEBD9;
    --font-details: "La Belle Aurore", serif;
    --font-main: "Manrope", serif;
    --buttons-corner: 4px;
}

img {
    width: 100%;
    vertical-align: middle;
}

h1 {
    font-size: 4rem !important;
}

h1,
h2,
h3,
h4,
p {
    font-family: var(--font-main);
}

p {
    margin-bottom: 0;
}


body {
    background-color: var(--clr-black);
    color: var(--clr-beish);
}

/* CONFIGURACIÓN MENÚ */
.nav-link {
    color: var(--clr-beish);
  }
  
  .sticky-top {
  position: sticky;
  top: 0;
  z-index: 998;}

  /* VIDEO HEADER */

  .bg-video-header {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow-x: hidden;
}

.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
    filter: brightness(0.7);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/* INTRO */

#intro {
    height: 30vh;
    display: flex;
    align-items: center;
}

.textintro {
    align-self: center;
    padding-bottom: 0 !important;
    font-size: 1.2em;
    padding-left: 5em;
}

.title {
    padding-left: 1.5em;
}

.año {
    font-size: 14vh;
}

/* PAINTINGS */

#paintings
p {
    font-size: 2em;
}

/* NIÑEZ */

.childhood {
    background-color: var(--clr-orange);
    padding: 2em;
    padding-left: 6em;
    padding-right: 4em;
    width: 65%;
    margin-bottom: 50vh;
}

.mayor2 {
    max-width: 50%;
  }


.mayor3 {
    width: 40%;
}

/* YOUTH */

.youth {
    background-color: var(--clr-beish);
    padding: 2em;
    padding-left: 4em;
    justify-content: center;
    width: 65%;
}

/* QUOTE HILMA */

    .quote {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 4em;
        
    }
    .quote > p {
        font-size: 2em;
        width: 65%;
    }

    .detalleletra {
        font-family: "La Belle Aurore", serif;
        font-size: 2em;
        line-height: 0.5 !important;
    }


/* ADULTHOOD */

.adulthood {
    background-color: var(--clr-beish);
    padding: 2em;
    padding-left: 6em;
    align-items: end;
    width: 80%;
    margin-bottom: 4em;
}

/* OLD AGE */

.old {
    background-color: var(--clr-orange);
    padding: 2em;
    padding-left: 4em;
    justify-content: center;
    width: 75%;
}

  /* NOMBRE DE LAS OBRAS */

  .nombreobra {
    font-family: var(--font-details);
    font-size: 1.5em;
    padding-top: 1vh;
  }

  .negro {
    color: var(--clr-black);
  }

  .gris {
    color: var(--clr-grey);
  }

/* CARRUSEL */
.responsive {
    margin-top: 5em;
  }

/* FOOTER */
footer {
    background-color: var(--clr-black);
    color: var(--clr-beish);
}

.terms p,
.nl-text p,
#sm p {
    font-size: 0.9em;
}

.terms p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nl-text p:first-child {
    font-weight: 600;
}

.nl-text {
    color: var(--clr-beish);
}

.nl-text::before {
    content: "";
    position: absolute;
    left: 0;
    height: 80%; 
    width: 1px;
    background-color: var(--clr-beish);
}

.nl {
    border: 1px solid var(--clr-beish); 
    border-radius: 4px;
    padding-right: 0.5em;
}

.form-nl {
    background-color: transparent;
    border: none;
    padding: 5px; 
    outline: none; 
    color: var(--clr-beish) !important;
}

.form-nl::placeholder {
    color: var(--clr-beish);
    opacity: 0.8;
    font-family: var(--font-body);
    font-size: 0.8em;
}

.form-nl:focus {
    background-color: transparent;
    font-family: var(--font-body);
    color: var(--clr-beish-2);
}

.iconsSM i:hover {
    cursor: pointer;
    color: var(--clr-accent) !important;
}

/* ------------------------------------------------------------------------ */

  /* RESPONSIVE */

@media screen and (max-width: 1269px) { 

    .textintro {
        font-size: 1em;
        padding-left: 5.7em;
    }

    .nombreobra {
        font-family: var(--font-details);
        font-size: 1.4em !important;
        padding-top: 1vh;

    }

    .childhood {
    margin-bottom: 40vh;
}

}

@media screen and (max-width: 1077px) { 

    .textintro {
        font-size: 0.9em;
    }
}


@media screen and (max-width: 1022px) { 

    .quote > p {
        font-size: 1.5em !important;
        width:70%;
    }
    
    .quote {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 3em;
        
    }
    }
    

@media screen and (max-width: 991px) { 

    .textintro {
        font-size: 0.9em;
        padding: 4em;
    }

    .año {
        font-size: 10vh;
        padding-bottom: 0.5em;
    }

    .title {
        padding-left: 1em;
    }

    h1 {
        font-size: 3rem !important ;
    }

    .childhood {
        background-color: var(--clr-orange);
        padding: 2em;
        padding-left: 6em;
        width: 75%;
        margin-bottom: 35vh;
    }
 
    .mayor1 {
        width: 70% ;
    }

    .youth {
        background-color: var(--clr-beish);
        padding: 2em;
        padding-left: 4em;
        justify-content: center;
        width: 75%;
    }


}


@media screen and (max-width: 900px) {


    .childhood {
        background-color: var(--clr-orange);
        padding: 2em;
        padding-left: 6em;
        width: 75%;
        margin-bottom: 35vh;
    }

}


@media screen and (max-width: 800px) {

    .nombreobra {
        font-family: var(--font-details);
        font-size: 1.2em !important;
        padding-top: 1vh;
    }

    /* .mayor5 {
        width: 120%;
    } */
    .adulthood {
        padding-left: 2em;
    }

    .childhood {
        margin-bottom: 30vh;
    }

}

@media screen and (max-width: 719px){
    .quote > p {
        font-size: 1.2em !important;
        width:85%;
    }

    .mayor4 {
        width: 75%;
    }
    
}

@media screen and (max-width: 680px) { 

    .textintro {
        font-size: 0.8em;
        padding: 3em;
    }

    .año {
        font-size: 6vh;
        padding-top: 0.2em;
        padding-bottom: 0.5em !important;
    }

    .title {
        padding-left: 1em;
    }

    h1 {
        font-size: 2.5rem !important ;
    }
     
    .childhood {
        margin-bottom: 25vh;
    }

    .quote > p {
        font-size: 1em !important;
        width:85%;
    }

    .mayor4 {
        width: 85%;
    }

    .mayor3 {
        width: 45%;
    }
}

@media screen and (max-width: 600px) {
    .childhood {
        background-color: var(--clr-orange);
        padding: 2em;
        width: 75%;
        margin-bottom: 25vh;
    }

    .mayor2 {
        max-width: 60%;
      }
    
      .mayor1 {
        width:75% ;
    }

    .adulthood {
        width: 95%;
    }

    .mayor5 {
        width: 50%;
    }
}


@media screen and (max-width: 500px) {
    .childhood {
        margin-bottom: 25vh;
    }

}

@media screen and (max-width: 400px) {
    .childhood {
        margin-bottom: 20vh;
    }

    .mayor4 {
        width: 95%;
    }
    .mayor3 {
        width: 55%;
    }

    .youth {
        width: 80%;
    }

    .mayor10 {
        width: 95%;
    }
    .mayor9 {
        width: 55%;
    }
    .nombreobra {
        font-family: var(--font-details);
        font-size: 1em !important;
        padding-top: 1vh;
    }

    h1 {
        font-size: 2em !important ;
    }

    .quote > p {
        font-size: 2em;
        width: 100%;
    }
}